<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Restaurants</a>
</nav>

<div id="container">
  <% @restaurants.each do |restaurant| %>
    <div id="restaurants">
      <p><%= link_to restaurant.name, restaurant_path(restaurant) %></p>
    </div>
  <% end %>

  <div class="link">
    <%= link_to 'Add New Restaurant', new_restaurant_path, class: "btn btn-light"%>
  </div>
</div>
